<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webthuldra</title>
    <link rel="stylesheet" href="<%= assetPath('app.css') %>">
  </head>

  <body>
    <header id="main-header">
      <nav> <!--Sirve para crear secciones o agrupar contenidos.-->
        <ul>
          <li id="logo">
            <a href="<%= rootPath() %>">
              <img src="<%= assetPath('webthuldra_logo.png') %>" alt="Ícono de un copo de nieve.">
              Webthuldra
            </a>
          </li>
          <li class="user-controls">
            <% if (locals.currentUser) { %>
              <span><%= currentUser.tag%></span>

              <form action="<%= paths.destroySession %>" method="post">
                <input type="hidden" name="_method" value="delete" />
                <input type="submit" value="Cerrar Sesión" />
              </form>
            <% } else {%>
              <a href="<%= paths.newSession%>">Iniciar Sesión</a>
            <% } %>

          </li>
          <li>
            <a href="<%= usersPath() %>">Usuarios</a>
          </li>
          <li>
            <a href="<%= newUserPath() %>">Crear Usuario</a>
          </li>
          <li>
            <a href="<%= newPostPath() %>">Crear Publicación</a>
          </li>
        </ul>
      </nav>
    </header>
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>
    <footer>
      <ul>
        <li>Webthuldra &copy; 2021</li>
        <li><a href="<%= newUserPath() %>">Sign Up</a></li>
        <li><a href="#">Log In</a></li>
      </ul>
    </footer>
  </body>

</html>
