<% if (notice) { %>
    <p><%= notice %></p>
<% } %>

<p>
    Posts
</p>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Caption</th>
            <th>User Id</th>
        </tr>
    </thead>
    <tbody>
        <% postsList.forEach( (post) => { %>
            <tr>
                <td><a href=<%= postPath(post.id) %>><%= post.id %></a></td>
                <td><%= post.caption %></td>
                <td><a href=<%= userPath(post.userId) %>><%= post.userId %></a></td>
            </tr>
        <% }) %>
    </tbody>
</table>