<% if (notice) { %>
    <p><%= notice %></p>
<% } else { %>
    <head>
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Webthuldra - Post</title>
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/post.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
       
        <main>
            <section>
                <article class="post">
                    <header>
                        <figure class="foto-usuario-post">
                            <a href=<%= userPath(post.user.id) %>>
                                <img src=<%= post.user.picture %>>
                            </a>
                            <figcaption class="info-usuario">
                                <a href=<%= userPath(post.user.id) %>>
                                    <h1><%= post.user.firstName + " " + post.user.lastName %> </h1>
                                </a>
                                <h2>#<%= post.user.tag %></h2>
                            </figcaption>
                        </figure>
                    </header>
                    <main>
                        <section class="publicacion">
                            <%= post.caption %>
                        </section>
                        <section class="foto-post">
                            <img src=<%= post.media%>>
                        </section>
                    </main>

                    <section class="botones">
                        <i class="material-icons">chat_bubble_outline</i>
                        <i class="material-icons">favorite_border</i> 
                    </section>
                </article>
            </section>
        </main>
<% } %>