<% if (notice) { %>
    <p><%= notice %></p>
<% } else { %>
    <h2><%= user.firstName %> <%= user.lastName %></h2>
    <p>Usuario: @<%= user.tag %></p>
    <p>Mail: <%= user.email %></p>
    <img src="<%= user.image %>" alt="Imagen de perfil">
    <p>Descripción: <%= user.description %></p>
<% } %>