<main>
    <% if (errors) { %>
        <div class="errors">
            Es necesario arreglar los siguientes errores:
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error.message %></li>
                <% }); %>
            </ul>
        </div>
    <% } %>
    <form action="<%= submitPostPath %>" method="post">
        <h2>Nueva publicación</h2>
        <main class="form-post-inputs">
            <section class="form-post-caption">
                <section>
                    <label for="caption">Comparte una publicación</label>
                    <input type="text" name="caption" value="<%= post.caption %>" />  
                </section>
            </section>
            <section>
                <label for="media">La url de la foto que quieras compartir</label>
                <input type="url" name="media" value="<%= post.media %>" /> 
            </section>
            <section>
                <label for="userId">Ingrese el id de su usuario</label>
                <select name="userId">
                    <% userList.forEach(user => { %>
                        <option value= "<%= user.id %>"" ><%=user.firstName + " " + user.lastName %></option>
                    <% }); %>
                 </select>
            </section>
            <section class="form-submit">
                <input type="submit" name="create" value="Registrar"/> 
            </section>
        </main>
    </form>
</main>