<main>
  <section class="header-content">
    <figure class="profile-pic">
      <img src="<%= user.picture? user.picture: assetPath('default_profile_picture.png') %>">
      <figcaption>
        <h1><%= user.firstName + " " + user.lastName %></h1>
        <h2>@<%= user.tag %> </h2>
        <h4>"<%= user.description %> "</h4>
      </figcaption>
    </figure>
    <section class="user-update-delete">
      <a href="<%= updateUserPath(user.id) %>" title="Actualizar datos de usuario">
        <i class="material-icons">edit</i>
      </a>
      <a href="<%= deleteUserPath(user.id) %>" title="Eliminar perfil de usuario">
        <i class="material-icons">delete_forever</i>
      </a>
    </section>
  </section>
  <section id=section-one>
    <nav class="profile-nav">
      <ul>
        <li>
          <a href="<%= userPath(user.id) %> ">Publicaciones</a>
        </li>
        <li class="profile-active-view">
          <a>Me gusta</a>
        </li>
      </ul>
    </nav>

    <% user.interests.forEach(post => { %>
      <article class="post">
        <header>
          <figure class="foto-usuario-post">
            <a href="<%= userPath(post.user.id) %>">
              <img src="<%= post.user.picture? post.user.picture: assetPath('default_profile_picture.png') %>">
            </a>
              <figcaption class="info-usuario">
                <a href="<%= userPath(post.user.id) %>">
                  <h1><%= post.user.firstName + " " + post.user.lastName %> </h1>
                </a>
                <h2> <%= parseDate(post.createdAt) %>  </h2>
              </figcaption>
          </figure>
        </header>
        <main>
          <section class="publicacion">
            <%= post.caption %> 
          </section>
          <% if (post.media) { %>
            <section class="foto-post">
              <img src="<%= post.media %>">
            </section>
          <% }  %> 
        </main>

        <section class="botones">
          <a href="<%= postPath(post.id) %>" title="Ver comentarios">
            <i class="material-icons">chat_bubble_outline</i>
          </a>
          <% if (locals.currentUser) { %>
            <% if (post.isLikedByUser(locals.currentUser.id)) { %>
              <form action="<%= updateLikePath(post.id) %>" method="post">
                <button type="submit"><i class="material-icons">favorite</i></button>
              </form>
            <% } else { %>
              <form action="<%= updateLikePath(post.id) %>" method="post">
                <button type="submit"><i class="material-icons">favorite_border</i></button>
              </form>
          <% }} else { %>
            <i class="material-icons">favorite_border</i>
          <% } %>
          <a href="<%= updatePostPath(post.id) %>" title="Editar publicación">
            <i class="material-icons">edit</i>
          </a>
          <a href="<%= deletePostPath(post.id) %>" title="Eliminar publicación">
            <i class="material-icons">delete_forever</i>
        </a>
        </section>
      </article>
    <% }); %> 
  </section>
</main>
